extends layout

block precontent
  .slider
    ul
      li
        img(src='holder.js/960x225', width='960', height='225')
      li
        img(src='holder.js/960x225', width='960', height='225')
      li
        img(src='holder.js/960x225', width='960', height='225')

block content
  section.section
    .section-header
      h2 Books
    .horizontal
      .scroll
        each item in books
          include partials/itemtile
      .fade
    .section-footer
      a(href=url.action('store/category') + '?cat=1') See all...

  section.section
    .section-header
      h2 Movies
    .horizontal
      .scroll
        each item in movies
          include partials/itemtile
      .fade
    .section-footer
      a(href=url.action('store/category') + '?cat=2') See all...

  section.section
    .section-header
      h2 Music
    .horizontal
      .scroll
        each item in albums
          include partials/itemtile
      .fade
    .section-footer
      a(href=url.action('store/category') + '?cat=3') See all...


