/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html, button, input, select, textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
  background: #EEE url('../img/squairy_light.png') repeat fixed 0 0;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Generic menu */
.menu {
  background: #AAA;
  height: 30px;
  padding: 0 15px;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu ul li {
  display: block;
  float: left;
}
.menu a {
  color: #FFF;
  display: block;
  padding: 4px 10px;
  text-decoration: none;
}
.menu .active, .menu a:hover {
  background: #696969;
}
.menu .right {
  float: right;
}

/* Main section */
.main {
  background: #FFF;
  margin: 25px auto;
  width: 960px;
}

/* Main header */
.header {
  background: #DDD;
  padding: 0 25px;
}
.header .logo, .header .search {
  display: inline-block;
  vertical-align: middle;
}
.header .logo {
  width: 385px;
}
.header .search input {
  border: 1px solid #CCC;
  padding: 3px 10px;
  width: 445px;
}
.header .search button {
  background: #1F1F1F;
  border: none;
  color: #FFF;
  padding: 3px 20px;
}
.header .search button:hover {
  background: #3F3F3F;
}

/* Slider style */
.slider {
  overflow: auto;
  position: relative;
}
.slider ul, .slider ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slider ul li {
  float: left;
}
.slider .dots {
  bottom: 10px;
  position: absolute;
  right: 10px;
}
.slider .dots .dot {
  background: #CCC;
  border: 2px solid #CCC;
  content: '';
  cursor: pointer;
  display: inline-block;
  height: 5px;
  margin: 0 3px;
  overflow: hidden;
  width: 5px;
}
.slider .dots .active {
  border: 2px solid #000;
}

/* Content */
.content {
  padding: 0 25px;
  position: relative;
}
.content h2 {
  margin: 0;
}
.content .section {
  margin: 15px 0;
}
.content .tile {
  display: inline-block;
  margin: 5px;
  padding: 15px;
}
.content .tile:hover {
  background: #AAA;
}
.content .horizontal {
  position: relative;
}
.content .horizontal .tile {
  margin: 0 5px;
}
.content .horizontal .scroll {
  overflow-x: scroll;
  padding: 10px;
  white-space: nowrap;
}
.content .horizontal .fade {
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
  bottom: 25px;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 10px;
  width: 175px;
}
.content .horizontal .tile:last-child {
  margin-right: 125px;
}
.content .sidebar {
  border-left: 2px solid #AAA;
  border-right: 2px solid #AAA;
  bottom: -15px;
  left: 0;
  position: absolute;
  top: -15px;
  width: 190px;
}
.content .sidebar ul {
  margin: 0;
  padding: 0;
}
.content .sidebar ul li {
  border-bottom: 2px solid #AAA;
  display: block;
}
.content .sidebar a {
  background: #FFF;
  color: #1F1F1F;
  display: block;
  padding: 3px 10px;
  text-decoration: none;
}
.content .sidebar a:hover {
  background: #DDD;
}
.content .sidebar ~ .section {
  margin-left: 195px;
}

/* Footer */
.footer {
  background: #AAA;
  color: #FFF;
  padding: 10px 0;
  text-align: center;
}
.footer p {
  margin: 0;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
